@tailwind base;
@tailwind components;
@tailwind utilities;
/* imported the font for a component but not applied globally yet */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* exemple for tailwind css classNames utilities declaration:

@layer utilities {
  .className1 {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .className2 {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }
} */
